
@font-face {
  font-family:capton_light;
  src: url("../fonts/capton/Campton-LightDEMO.otf");
}

@font-face {
  font-family:capton_Bold;
  src: url("../fonts/capton/Campton-BoldDEMO.otf");
}

@font-face {
  font-family:muller_Ext;
  src: url("../fonts/myrder/MyriadPro-Bold.otf");
}

@font-face {
  font-family:muller_regular;
  src: url("../fonts/myrder/MyriadPro-Regular.otf");
}

@font-face {
  font-family:raleway_regular;
  src: url("../fonts/releway/Raleway-Regular.ttf");
}

@font-face {
  font-family:raleway_bold;
  src: url("../fonts/releway/Raleway-Bold.ttf");
}

@font-face {
  font-family:raleway_italic;
  src: url("../fonts/releway/Raleway-Italic.ttf");
}

@font-face {
  font-family:raleway_medium;
  src: url("../fonts/releway/Raleway-Medium.ttf");
}

@font-face {
  font-family:raleway_smiBold;
  src: url("../fonts/releway/Raleway-SemiBold.ttf");
}