@font-face {
    font-family: myiradPro;
    src: url("../fonts/myiradPro/MyriadPro-Regular.otf");
}

@font-face {
    font-family: NotoSansRegular;
    src: url("../fonts/notoSans/NotoSans-Regular.ttf");
}


@font-face {
    font-family: NotoSansBold;
    src: url("../fonts/notoSans/NotoSans-Bold.ttf");
}

@font-face {
    font-family: RobotoRegular;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoBold;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
}